%p#notice= notice
%div{:id => "dashboard task-dashboard"}
  .container
    .row.mb-4
      .col-md-10
        %h2 Tasks
      .col-md-2.text-right
        = link_to 'Add Task',new_task_path, class: 'btn btn-success text-white ml-1'

    #todo-wrapper
      - @tasks.each do |task|
        .row.mb-1.data-row
          .col-md-6.ml-1
            = task.task_name
          .col-md-3.ml-1
            = task.created_at.strftime("%e %b, %Y")
          .col-md-3.text-right
            = link_to 'Items', task_task_items_path(task), class: 'btn btn-primary', role: :button
            = link_to 'Edit', edit_task_path(task), class: 'btn btn-primary btn-edit', role: :button
            = link_to 'Archive', task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-delete'
