%p#notice= notice
%div{:id => "dashboard task-dashboard"}
  .container
    .row.mb-4
      .col-md-10
        %h2 Task Items
      .col-md-2.text-right
        = link_to 'Add Task Item',new_task_task_item_path, class: 'btn btn-success text-white ml-1'

    #todo-wrapper
      - @task_items.each do |task_item|
        .row.mb-1.data-row
          .col-md-6.ml-1
            = task_item.title
          .col-md-3.ml-1
            %span.badge.bg-success
              due days: #{task_item.due_days}
          .col-md-3.text-right
            = link_to 'Edit', edit_task_task_item_path(@task,task_item) , class: 'btn btn-primary', role: :button
            = link_to 'Destroy', task_task_item_path(@task, task_item), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-delete'
